<div class="main-add-items-container hidden">
    <p class="close-btn"><span class="close">X</span></p>
    <div>
        <button id="record-button"><img
                src="https://img.icons8.com/flat-round/64/000000/microphone--v1.png" /></button>Hold to talk <br><br>
        <textarea id="input"></textarea>
        <button id="submit-button">submit</button>
        <h5>Category:</h5>
        <input type="text" id="category-input">
        <h5>Date:</h5>
        <input type="date" id="date-input">
        <h5>Time:</h5>
        <input type="time" id="time-input">
    </div>


    <script>
        //---------------Cached Variables------------//    
        let input = document.getElementById("input")
        let submitButton = document.getElementById("submit-button")
        let category = document.getElementById("category-input")
        let date = document.getElementById("date-input")
        let time = document.getElementById("time-input")
        let recordButton = document.getElementById("record-button")

        //---------------state Variables------------//    
        let recordingOn = false;

        //---------------Event Listeners below------------//
        submitButton.addEventListener("click", getCategory)

        // Start Listening on button hold
        recordButton.addEventListener("mousedown", function (e) {
            if (recordingOn == false) {
                recognition.start();
                recordingOn = true;
            }
        })

        // Stop listening on button release
        recordButton.addEventListener("mouseup", function (e) {
            if (recordingOn == true) {
                recognition.stop();
                recordingOn = false;
            }
        })

        //---------------WebSpeech Recognition API------------//
        window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
        const recognition = new SpeechRecognition();
        recognition.interimResults = true;

        recognition.addEventListener("result", function (e) {
            const text = e.results[0][0].transcript;
            input.value = text;
        });


        //---------------AJAX call to Server------------//
        async function getCategory(e) {
            let body = { "input": input.value }
            //send input to controller function fillForm
            const response = await fetch("/fillForm", {
                method: 'POST',
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': "application/json"
                },
                redirect: 'follow',
                referrerPolicy: 'no-referrer',
                body: JSON.stringify(body)
            }).then(res => res.json());
            console.log(response)

            // set category input
            category.value = response["category"];

            // set date and time input
            datetime = new Date(response.datetime)
            date.value = datetime.toISOString().slice(0, 10)
            time.value = datetime.toTimeString().slice(0, 5)
        }

    </script>
</div>