<div class="main-appointments-container hidden">
    <p class="close-btn"><span class="close">X</span></p>
    <div class="main-item-container-padding">
        <div class="main-item-container">
            <div class="item-time">
                <p class="time">08:00</p>
                <p>am</p>
            </div>
            <div class="item-icon">
                <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M50.2789 6.40015H54.0214V8.07514H50.2789V6.40015Z" fill="#66757F" />
                    <path
                        d="M0 19.8V53.2999C0 57 3.35812 59.9999 7.5 59.9999H52.5C56.6419 59.9999 60 57 60 53.2999V19.8H0Z"
                        fill="#CCD6DD" />
                    <path
                        d="M52.5 6.40015H7.5C3.35812 6.40015 0 9.40006 0 13.1001V21.4751H60V13.1001C60 9.40006 56.6419 6.40015 52.5 6.40015Z"
                        fill="#CA5C1D" />
                    <path
                        d="M12.8165 14.3246C11.5002 14.3246 10.4333 13.209 10.4333 11.8305C10.4333 10.4536 11.5002 9.33643 12.8165 9.33643C14.1309 9.33643 15.1977 10.4536 15.1977 11.8305C15.1977 13.2073 14.1309 14.3246 12.8165 14.3246ZM24.0665 14.3246C22.7502 14.3246 21.6833 13.209 21.6833 11.8305C21.6833 10.4536 22.7502 9.33643 24.0665 9.33643C25.3808 9.33643 26.4477 10.4536 26.4477 11.8305C26.4477 13.2073 25.3808 14.3246 24.0665 14.3246ZM35.3165 14.3246C34.0002 14.3246 32.9333 13.209 32.9333 11.8305C32.9333 10.4536 34.0002 9.33643 35.3165 9.33643C36.6308 9.33643 37.6996 10.4536 37.6996 11.8305C37.6977 13.2073 36.6308 14.3246 35.3165 14.3246ZM46.5665 14.3246C45.2502 14.3246 44.1833 13.209 44.1833 11.8305C44.1833 10.4536 45.2502 9.33643 46.5665 9.33643C47.8808 9.33643 48.9496 10.4536 48.9496 11.8305C48.9477 13.2073 47.8808 14.3246 46.5665 14.3246Z"
                        fill="#292F33" />
                    <path
                        d="M47.4664 0C45.0721 0 42.9983 1.34335 41.8527 3.29974C40.7164 1.38522 38.6333 0 36.2164 0C33.8221 0 31.7483 1.34335 30.6027 3.29974C29.4664 1.38522 27.3833 0 24.9664 0C22.5721 0 20.4983 1.34335 19.3527 3.29974C18.2164 1.38522 16.1333 0 13.7164 0C10.0902 0 7.15393 3.04682 7.15393 6.70836C7.15393 9.8138 9.11331 12.3548 11.9708 13.2844C13.3939 13.745 14.2658 12.5357 14.1439 11.5658C14.0408 10.7618 13.4427 10.2376 12.7771 9.8607C11.8677 9.34647 10.9021 8.1723 10.9021 6.71673C10.9021 4.86754 12.1602 3.20762 13.7146 3.20762C15.2689 3.20762 16.5271 4.72349 16.5271 6.39848H18.4321C18.4264 6.50233 18.4021 6.60116 18.4021 6.70668C18.4021 9.81212 20.3614 12.3531 23.2189 13.2827C24.6421 13.7433 25.5139 12.534 25.3921 11.5642C25.2889 10.7618 24.6908 10.2376 24.0252 9.8607C23.1158 9.34647 22.1502 8.1723 22.1502 6.71673C22.1502 4.86754 23.4083 3.20762 24.9627 3.20762C26.5171 3.20762 27.7789 4.72516 27.7789 6.40016H29.6839C29.6783 6.50401 29.6539 6.60283 29.6539 6.70836C29.6539 9.8138 31.6133 12.3548 34.4708 13.2844C35.8939 13.745 36.7658 12.5357 36.6439 11.5658C36.5408 10.7635 35.9427 10.2392 35.2771 9.86237C34.3677 9.34815 33.4021 8.17398 33.4021 6.71841C33.4021 4.86921 34.6602 3.20929 36.2146 3.20929C37.7689 3.20929 39.0289 4.72516 39.0289 6.40016H40.9339C40.9283 6.50401 40.9039 6.60283 40.9039 6.70836C40.9039 9.8138 42.8633 12.3548 45.7208 13.2844C47.1439 13.745 48.0158 12.5357 47.8939 11.5658C47.7908 10.7635 47.1927 10.2392 46.5271 9.86237C45.6177 9.34815 44.6521 8.17398 44.6521 6.71841C44.6521 4.86921 45.9102 3.20929 47.4646 3.20929C49.0189 3.20929 50.2789 4.72516 50.2789 6.40016H54.0214C53.9821 3.05017 51.0664 0 47.4664 0Z"
                        fill="#66757F" />
                    <path
                        d="M16.875 24.8252H24.375V31.5252H16.875V24.8252ZM26.25 24.8252H33.75V31.5252H26.25V24.8252ZM35.625 24.8252H43.125V31.5252H35.625V24.8252ZM45 24.8252H52.5V31.5252H45V24.8252ZM7.5 33.2002H15V39.9002H7.5V33.2002ZM16.875 33.2002H24.375V39.9002H16.875V33.2002ZM26.25 33.2002H33.75V39.9002H26.25V33.2002ZM35.625 33.2002H43.125V39.9002H35.625V33.2002ZM45 33.2002H52.5V39.9002H45V33.2002ZM7.5 41.5751H15V48.2751H7.5V41.5751ZM16.875 41.5751H24.375V48.2751H16.875V41.5751ZM26.25 41.5751H33.75V48.2751H26.25V41.5751ZM35.625 41.5751H43.125V48.2751H35.625V41.5751ZM45 41.5751H52.5V48.2751H45V41.5751ZM7.5 49.9501H15V56.6501H7.5V49.9501ZM16.875 49.9501H24.375V56.6501H16.875V49.9501ZM26.25 49.9501H33.75V56.6501H26.25V49.9501Z"
                        fill="white" />
                </svg>
            </div>
            <div class="item-description">
                <p class="title">Aspirin</p>
                <p>Before breakfast with lots of water.</p>
            </div>
            <div class="item-checkbox">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="24" height="24" fill="white" fill-opacity="0.01" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM9.3824 11.0689C9.50441 11.1213 9.61475 11.1975 9.707 11.293L11 12.586L14.293 9.29302C14.3852 9.19751 14.4956 9.12133 14.6176 9.06892C14.7396 9.01651 14.8708 8.98892 15.0036 8.98777C15.1364 8.98662 15.2681 9.01192 15.391 9.0622C15.5138 9.11248 15.6255 9.18673 15.7194 9.28063C15.8133 9.37452 15.8875 9.48617 15.9378 9.60907C15.9881 9.73196 16.0134 9.86364 16.0122 9.99642C16.0111 10.1292 15.9835 10.2604 15.9311 10.3824C15.8787 10.5044 15.8025 10.6148 15.707 10.707L11.707 14.707C11.5195 14.8945 11.2652 14.9998 11 14.9998C10.7348 14.9998 10.4805 14.8945 10.293 14.707L8.293 12.707C8.19749 12.6148 8.1213 12.5044 8.0689 12.3824C8.01649 12.2604 7.9889 12.1292 7.98775 11.9964C7.98659 11.8636 8.0119 11.732 8.06218 11.6091C8.11246 11.4862 8.18671 11.3745 8.2806 11.2806C8.3745 11.1867 8.48615 11.1125 8.60904 11.0622C8.73194 11.0119 8.86362 10.9866 8.9964 10.9878C9.12918 10.9889 9.2604 11.0165 9.3824 11.0689Z"
                        fill="#6A93A0" />
                </svg>
            </div>
        </div>
    </div>
</div>