<div class="notifications-container">
    <div class="notification-container">
        <div class="notification-header-container">
            <div class="image-container">
                IMG
            </div>
            <div class="desription-container">
                <p>Sam wants to know:</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
            </div>
        </div>
        <div class="notification-button-container">
            <button>Yes</button>
            <button>I'm about to.</button>
            <button>No, I forgot</button>
        </div>
    </div>
    <div class="notification-container">
        <div class="notification-header-container">
            <div class="image-container">
                IMG
            </div>
            <div class="description-container">
                <p>Peter wants to know:</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
            </div>
        </div>
        <div class="notification-button-container">
            <button>Yes</button>
            <button>I'm about to.</button>
            <button>No, I forgot</button>
        </div>
    </div>
</div>