<div class="main-reminders-container hidden">
  <p class="close-btn"><span class="close">X</span></p>
  <% for (let i=0; i < data.length; i++) { %>
    <% if (data[i].dataValues.category=="Tasks" ) {%>
      <div class="main-item-container-padding">
        <div class="main-item-container">
          <div class="item-time">
            <%= data[i].dataValues.startDate.toLocaleString('en-US', { hour: 'numeric' , minute: 'numeric' , hour12:
              true }) %>
              <p class="time">08:00</p>
              <p>am</p>
          </div>
          <div class="item-icon">
            <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M60 53.3333C60 57.015 57.015 60 53.3333 60H6.66667C2.985 60 0 57.015 0 53.3333V6.66667C0 2.985 2.985 0 6.66667 0H53.3333C57.015 0 60 2.985 60 6.66667V53.3333Z"
                fill="#8FC5A8" />
              <path
                d="M48.8 10.6034C46.8733 9.35174 44.2933 9.90007 43.0367 11.8301L24.8933 39.7951L16.5116 32.0451C14.8216 30.4817 12.185 30.5867 10.6233 32.2751C9.06165 33.9651 9.16498 36.6017 10.855 38.1634L22.87 49.2734C23.67 50.0151 24.6867 50.3817 25.6966 50.3817C26.8183 50.3817 28.2533 49.9117 29.195 48.4834C29.7483 47.6401 50.0283 16.3667 50.0283 16.3667C51.28 14.4351 50.73 11.8551 48.8 10.6034Z"
                fill="white" />
            </svg>
          </div>
          <div class="item-description">
            <p class="title">
              <%= data[i].dataValues.title %>
            </p>
            <p>Before breakfast with lots of water.</p>
          </div>
          <div class="item-checkbox">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="24" height="24" fill="white" fill-opacity="0.01" />
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM9.3824 11.0689C9.50441 11.1213 9.61475 11.1975 9.707 11.293L11 12.586L14.293 9.29302C14.3852 9.19751 14.4956 9.12133 14.6176 9.06892C14.7396 9.01651 14.8708 8.98892 15.0036 8.98777C15.1364 8.98662 15.2681 9.01192 15.391 9.0622C15.5138 9.11248 15.6255 9.18673 15.7194 9.28063C15.8133 9.37452 15.8875 9.48617 15.9378 9.60907C15.9881 9.73196 16.0134 9.86364 16.0122 9.99642C16.0111 10.1292 15.9835 10.2604 15.9311 10.3824C15.8787 10.5044 15.8025 10.6148 15.707 10.707L11.707 14.707C11.5195 14.8945 11.2652 14.9998 11 14.9998C10.7348 14.9998 10.4805 14.8945 10.293 14.707L8.293 12.707C8.19749 12.6148 8.1213 12.5044 8.0689 12.3824C8.01649 12.2604 7.9889 12.1292 7.98775 11.9964C7.98659 11.8636 8.0119 11.732 8.06218 11.6091C8.11246 11.4862 8.18671 11.3745 8.2806 11.2806C8.3745 11.1867 8.48615 11.1125 8.60904 11.0622C8.73194 11.0119 8.86362 10.9866 8.9964 10.9878C9.12918 10.9889 9.2604 11.0165 9.3824 11.0689Z"
                fill="#6A93A0" />
            </svg>
          </div>
        </div>
      </div>
      <% } %>
        <% } %>
</div>