<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remind</title>

    <link rel='stylesheet' href='../public/stylesheets/reset.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel='stylesheet' href='../public/stylesheets/demo.css' />
</head>

<body>
    <div class="container-xxl" style="height: 100vh">
        <div class="row h-100">
            <div class="col-2 main-navbar d-flex align-content-between flex-wrap">
                <div class="row">
                    <div class="col-12 menu-item">
                        Settings
                    </div>
                    <div class="col-12 menu-item">
                        Add Item
                    </div>
                    <div class="col-12 menu-item">
                        Medications
                    </div>
                    <div class="col-12 menu-item">
                        Bills
                    </div>
                    <div class="col-12 menu-item">
                        Appointments
                    </div>
                    <div class="col-12 menu-item">
                        Reminders
                    </div>
                </div>
            </div>
            <div class="col-7">
                <div class="col-12 main-jumbotron">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            [LOGO]
                        </div>
                        <div class="col-sm-12 col-md-8">
                            Good Morning Sarah!
                            <p>Type in any new activity or item! We will sort it in the right category for you!</p>
                        </div>
                    </div>

                </div>
                <div class="col-12 main-feed ">
                    <div class="row">
                        <div class="card w-100">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2">
                                        10 PM
                                    </div>
                                    <div class="col-1">
                                        icon
                                    </div>

                                    <div class="col-8">
                                        <div class="card-title">
                                            Asprin
                                        </div>
                                        <div class="card-text">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam,
                                            assumenda!
                                        </div>

                                    </div>
                                    <div class="col-1">
                                        X
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card w-100">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2">
                                        11 PM
                                    </div>
                                    <div class="col-1">
                                        icon
                                    </div>

                                    <div class="col-8">
                                        <div class="card-title">
                                            Walk
                                        </div>
                                        <div class="card-text">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam,
                                            assumenda!
                                        </div>

                                    </div>
                                    <div class="col-1">
                                        X
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-3 main-social">
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">
                                    [profile pic]
                                </div>
                                <div class="col-9">
                                    <div class="card-title">
                                        Frank
                                    </div>
                                    <div class="card-text">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, assumenda!
                                    </div>

                                </div>
                                <div class="col-12">
                                    <a href="#" class="btn btn-primary">Yes!</a>
                                    <a href="#" class="btn btn-primary">I'm About To</a>
                                    <a href="#" class="btn btn-primary">No, I forgot.</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>