<%- include('partials/head_default') %> 
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/auth/google">Login</a></li>
    <li><a href="/logout">Logout</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">Settings</a></li>
    <li><a href="https://tinyurl.com/d7fv66j2">TOP SECRET</a></li>

  </ul>
</nav>
<body>
  <h1>
    <%= title %>
  </h1>
  <p>Splash page for <%= title %>
  </p>
  
<%- include('partials/foot_default') %> 