<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <textarea id="input"></textarea>
    <button id="submit-button">submit</button>
    <h5>Category:</h5>
    <input type="text" id="category-input">

</body>

<script>
    let input = document.getElementById("input")
    let submitButton = document.getElementById("submit-button")
    let category = document.getElementById("category-input")

    submitButton.addEventListener("click", getCategory)


    async function getCategory(e) {
        let body = { "input": input.value }
        //send input to controller function fillForm
        const response = await fetch("/fillForm", {
            method: 'POST',
            cache: 'no-cache',
            credentials: 'same-origin',
            headers: {
                'Content-Type': "application/json"
            },
            redirect: 'follow',
            referrerPolicy: 'no-referrer',
            body: JSON.stringify(body)
        }).then(res => res.text());
        category.value = response;

        console.log(response)

    }


</script>

</html>